$main-bg-color: #777;
$main-text-color: #FFFFFF;
$console-bg-color: #222;
$code-bg-color: #444;
$dinamic-black: #010203;

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
}

@mixin directional-border-radius ($top-left, $bottom-left, $top-right, $bottom-right){
  $directions: top-left, bottom-left, top-right, bottom-right;
  $params: $top-left, $bottom-left, $top-right, $bottom-right;
  @each $direction in $directions {
    border-#{$direction}-radius: $param;
    -webkit-#{$direction}-radius: $param;
    -moz-#{$direction}-radius: $param;
    -ms-#{$direction}-radius: $param;  
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $code-bg-color;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $console-bg-color; 
  @include border-radius(10px)
}

body {
  background-color: $main-bg-color;
  color: $main-text-color;
}

#code {
  height: 470px;
  border-width: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: $code-bg-color;
  color: $main-text-color;
  decoration: none;
  resize: none;
  outline: none;
  float: left;
  margin-bottom: 2px;
  flex: 50;
}

#code-container {
  display: flex;
}

#line-counter {
  height: 470px;
  border-width: 0px;
  resize: none;
  outline:none;
  float:left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: $code-bg-color;
  color: #888;
  margin-bottom: 2px;
  flex: 1;
  border-right-width: 1px;
  border-right-color: $dinamic-black;
  overflow:hidden;
  text-align: right;
}

#console {
  width: 100%;
  height: 109px;
  border-width: 0px;
  border-radius: 10px;
  color: white;
  background-color: $console-bg-color;
  margin: 0px;
  resize: none;
  font-family: monospace;
  font-weight: bold;
  float: right;
}

.navbar {
  display:flex;
  width: 100%;
  overflow: auto;
  background-color: transparent;
}

.navbar #project-name {
  padding: 7px;
  border-radius: 10px;
  border-color: $console-bg-color;
  color: #FFFFFF;
  background-color: $code-bg-color;
  margin: 6px;
  float: left;
  text-align: center;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  flex: 1;
}

#blank-space{
  flex:2;
}

.navmenu{
  display:flex;
  float:right;
  top: 0;
  right: 48px;
  border-radius: 20px;
  flex: 1;
}

.navbar .secmenu {
  padding: 10px;
  @include border-radius(10px);
  border-style: solid;
  border-width: 1px;
  border-color: $code-bg-color;
  float: right;
  text-align: center;
  background-color: $code-bg-color;
  margin: 3px;
  color: $dinamic-black;
  flex: 1;
}

.navbar .secmenu:hover {
  opacity: 0.7;
}

.navbar .menu:hover {
  opacity: 0.7;
}

.navbar .menu div {
  width: 30px;
  height: 4px;
  background-color: $dinamic-black;
  margin: 4px 0;
}