$main-bg-color: #777;
$main-text-color: #FFFFFF;
$console-bg-color: #222;
$code-bg-color: #444;
$dinamic-black: #010203;

@mixin border-radius($radius, $args) {
  #{$args}-radius: $radius;
  -webkit-#{$args}-radius: $radius;
  -moz-#{$args}-radius: $radius;
  -ms-#{$args}-radius: $radius;
}

@mixin directional-border-radius ($top-left, $bottom-left, $top-right, $bottom-right){
  @include border-radius($top-left, border-top-left);
  @include border-radius($bottom-left, border-bottom-left);
  @include border-radius($top-right, border-top-right);
  @include border-radius($bottom-right, border-bottom-right);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $code-bg-color;
  @include directional-border-radius(0px, 0px, 10px, 10px);
}

::-webkit-scrollbar-thumb {
  background: $console-bg-color; 
  @include border-radius(10px, border);
}

body {
  background-color: $main-bg-color;
  color: $main-text-color;
}

#code {
  height: 470px;
  flex: 50;
  background-color: $code-bg-color;
  color: $main-text-color;
  border-width: 0px;
  @include directional-border-radius(0px, 0px, 10px, 10px);
  margin-bottom: 2px;
  float: left;
  decoration: none;
  resize: none;
  outline: none;
}

#code-container {
  display: flex;
}

#line-counter {
  height: 470px;
  flex: 1;
  background-color: $code-bg-color;
  color: #888;
  border-width: 0px;
  @include directional-border-radius(10px, 10px, 0px, 0px);
  border-right-width: 1px;
  border-right-color: $dinamic-black;
  margin-bottom: 2px;
  float:left;
  text-align: right;
  resize: none;
  outline:none;
  overflow:hidden;
}

#console {
  width: 100%;
  height: 109px;
  background-color: $console-bg-color;
  color: white;
  @include border-radius(10px, border);
  margin: 0px;
  float: right;
  resize: none;
  font-family: monospace;
  font-weight: bold;
}

.navbar {
  display:flex;
  width: 100%;
  background-color: transparent;
  overflow: auto;
}

.navbar #project-name {
  flex: 1;
  background-color: $code-bg-color;
  color: #FFFFFF;
  @include border-radius(10px, border);
  border-color: $console-bg-color;
  margin: 6px;
  padding: 7px;
  float: left;
  text-align: center;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

#blank-space{
  flex:2;
}

.navmenu{
  display:flex;
  flex: 1;
  @include border-radius(20px, border);
  float:right;
}

.navbar .secmenu {
  flex: 1;
  background-color: $code-bg-color;
  color: $dinamic-black;
  @include border-radius(10px, border);
  border-style: solid;
  border-width: 1px;
  border-color: $code-bg-color;
  margin: 3px;
  padding: 10px;
  float: right;
  text-align: center;
}

.navbar .secmenu:hover {
  opacity: 0.7;
}

.navbar .menu:hover {
  opacity: 0.7;
}

.navbar .menu div {
  width: 30px;
  height: 4px;
  background-color: $dinamic-black;
  margin: 4px 0;
}