:root{
  --main-bg-color: #777;
  --main-text-color: #FFFFFF;
  --console-bg-color: #222;
  --code-bg-color: #444;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#code {
  width: 99.5%;
  height: 470px;
  border-width: 0px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 5px;
  background-color: var(--code-bg-color);
  color: var(--code-text-color);
  decoration: none;
  resize: none;
  outline: none;
}

#console {
  width: 99.5%;
  height: 109px;
  border-width: 0px;
  border-radius: 10px;
  color: var(--console-text-color);
  background-color: var(--console-bg-color);
  margin: 0px;
  resize: none;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-color: transparent;
}

.navbar #project-name {
  text-align: center;
}

.navbar .menu {
  padding: 7px;
  border-radius: 10px;
  float: right;
  text-align: center;
  background-color: var(--code-bg-color);
  margin: 2px
}

.navbar .menu:hover {
  opacity: 0.7;
}

.navbar .menu div {
  width: 30px;
  height: 4px;
  background-color: black;
  margin: 4px 0;
}
