:root {
  --main-bg-color: #777;
  --main-text-color: #FFFFFF;
  --console-bg-color: #222;
  --code-bg-color: #444;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--code-bg-color);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--console-bg-color); 
  border-radius: 10px;  
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
}

#code {
  height: 470px;
  border-width: 0px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--code-bg-color);
  color: var(--main-text-color);
  decoration: none;
  resize: none;
  outline: none;
  float: left;
  margin-bottom: 2px;
  flex: 50;
}

#code-container {
  display: flex;
}

#line-counter {
  height: 470px;
  border-width: 0px;
  resize: none;
  outline:none;
  float:left;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--code-bg-color);
  color: #888;
  margin-bottom: 2px;
  flex: 1;
  border-right-width: 1px;
  border-right-color: #010203;
  overflow:hidden;
  text-align: right;
}

#console {
  width: 100%;
  height: 109px;
  border-width: 0px;
  border-radius: 10px;
  color: var(--console-text-color);
  background-color: var(--console-bg-color);
  margin: 0px;
  resize: none;
  font-family: monospace;
  font-weight: bold;
  float: right;
}

.navbar {
  width: 100%;
  overflow: auto;
  background-color: transparent;
}

.navbar #project-name {
  padding: 7px;
  border-radius: 10px;
  border-color: var(--console-bg-color);
  color: #FFFFFF;
  background-color: var(--code-bg-color);
  margin: 6px;
  float: left;
  text-align: center;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar .menu {
  padding: 7px;
  border-radius: 10px;
  float: right;
  text-align: center;
  background-color: var(--code-bg-color);
  margin: 2px
}

.navmenu{
  display:flex;
  width: 0px;
  float:right;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: .5s;
  top: 0;
  right: 48px;
  border-radius: 20px;
}

.navbar .secmenu {
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--code-bg-color);
  float: right;
  text-align: center;
  background-color: var(--code-bg-color);
  margin: 3px;
  color: #010203;
  flex: 1;
  transition: 0.3s;
}

.navbar .secmenu:hover {
  opacity: 0.7;
}

.navbar .menu:hover {
  opacity: 0.7;
}

.navbar .menu div {
  width: 30px;
  height: 4px;
  background-color: #010203;
  margin: 4px 0;
}